[defaults]
inventory = inventory/hosts.example.yml
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo

