apiVersion: v1
baseDomain: example.com
metadata:
  name: ocp-prd
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: 192.0.2.0/24
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  none: {}
proxy:
  httpProxy: http://proxy.example.com:3128
  httpsProxy: http://proxy.example.com:3128
  noProxy: ".cluster.local,.svc,127.0.0.1,localhost,192.0.2.0/24,10.128.0.0/14,172.30.0.0/16,.ocp-prd.example.com"
publish: External
pullSecret: '<REPLACE_FROM_APPROVED_SECRET_STORE>'
sshKey: '<REPLACE_WITH_APPROVED_SSH_PUBLIC_KEY>'
